In [1]:
import pandas as pd
# goldstandard 
gold = pd.read_csv('./goldtest_TaskA/SemEval2018-T3_gold_test_taskA_emoji.txt', sep='\t')

In [2]:
gold_labels = gold.groupby('Label').count()
gold_labels

       Tweet index  Tweet text
Label
0              473         473
1              311         311

In [3]:
answers_A = pd.read_csv('../../Task3/taskA/results/predictions-taskA.txt', header=None, names=['Label'], sep='\n')
answers_A = list(answers_A['Label'])

In [4]:
ones = sum(1 for i in answers_A if i == 1)
zeros = sum(1 for i in answers_A if i == 0)

In [5]:
ones, zeros

(489, 295)

In [17]:
# find cases where the tweet contains sarcasm and irony, but it is labelled as 0
gold.loc[(gold['Label'] == 0) & gold['Tweet text'].str.contains("sarcasm|irony")]

     Tweet index  Label                                         Tweet text
127          128      0  @GlenjiUTLR @JoshStevo95 To be fair, you didn'...
128          129      0  'I like the hope Jan Ellis writes with, the pr...
133          134      0  @YasminaBen1 please note #sarcasm in last twee...
162          163      0  This is definitely me! üòÅ|#me #sarcastic #sarca...
170          171      0            Oh dear, some people don't get #irony üò≥
194          195      0      @JasminHadasah #sarcasm is a service I offer.
306          307      0  @jthurgood1 @Cameron_Gray republicans suck mor...
310          311      0  @Brice_Jones but you can't expect us to hire o...
316          317      0  #Warn them that your degree of #sarcasm depend...
356          357      0  @_Liam_Walker_ @TheOxfordMail A thief, a liar,...
376          377      0                           Forgot to enter #sarcasm
389          390      0  Hey @Enasni, some of your geeky/nerdy follower...
398          399      0  I see the #irony of MY LAST 3 TWEETS COMBINED ...
524          525      0  @ArianaGicPerry Ahem... yeah.. something like ...
539          540      0  I have a very annoying bluetick for sale. 8 yr...
562          563      0  @holyroodmandy @jimmurphymp @scottishlabour pr...
577          578      0  @Espngreeny @espngolic "pit players v. victims...
629          630      0  #farage a t1t in public who doesnt agree with ...
655          656      0  @TonyRohrs they've spread their positions off ...
742          743      0  @AfterGrogBlog #pantsdowntiggy was his crime. ...
774          775      0  Lol everyday excuse the language #relationship...